.box-1{
    width: 473px;
    height: 268px;
    background: #F47521;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    margin-left: 10px;
    position: relative; /* Make box-1 a relatively positioned container */
}

.box-2{
    width: 50px;
    height: 50px;
    background: #817a76;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Position box-2 absolutely inside box-1 */
    top: 10px; /* Align to the top of box-1 */
    right: 10px; /* Align to the right of box-1 */
}

.circle-1 {
    width: 50px;
    height: 50px;
    background: #00BFFF; /* Example color, change as needed */
    border-radius: 50%; /* Make it a circle */
    position: absolute; /* Position circle-1 absolutely inside box-1 */
    margin-left: 10px;
}


.rectangle-1 {
    width: 370px;
    height: 30px;
    background: #817a76;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    margin-top: 10px;
}

.rectangle-2 {
    width: 200px;
    height: 30px;
    background: #cccac9;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    margin-top: 10px;
}
